<div class="layout-topbar">
    <p-toast />
    <p-confirmdialog />
    <div class="layout-topbar-logo-container">
        <button
            class="layout-menu-button layout-topbar-action"
            (click)="layoutService.onMenuToggle()"
        >
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <svg
                width="100"
                height="100"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g fill="none" fill-rule="evenodd">
                    <circle
                        cx="50"
                        cy="50"
                        r="48"
                        stroke="#1976D2"
                        stroke-width="4"
                    />
                    <path
                        fill="#1976D2"
                        d="M30 60h8v20h-8zM44 50h8v30h-8zM58 40h8v40h-8z"
                    />
                    <path
                        d="M28 60L75 30"
                        stroke="#1976D2"
                        stroke-width="4"
                        fill="none"
                    />
                    <path d="M75 30l-8-6 6 8" fill="#1976D2" />
                </g>
            </svg>

            <span>Sys BSC</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <!-- <div class="layout-config-menu">
                <button
                    type="button"
                    class="layout-topbar-action"
                    (click)="toggleDarkMode()"
                >
                    <i
                        [ngClass]="{
                            'pi ': true,
                            'pi-moon': layoutService.isDarkTheme(),
                            'pi-sun': !layoutService.isDarkTheme()
                        }"
                    ></i>
                </button>
                <div class="relative">
                    <button
                        class="layout-topbar-action layout-topbar-action-highlight"
                        pStyleClass="@next"
                        enterFromClass="hidden"
                        enterActiveClass="animate-scalein"
                        leaveToClass="hidden"
                        leaveActiveClass="animate-fadeout"
                        [hideOnOutsideClick]="true"
                    >
                        <i class="pi pi-palette"></i>
                    </button>
                    <app-configurator />
                </div>
            </div> -->

        <p-menu #menu [model]="userItems" [popup]="true"></p-menu>

        <button
            type="button"
            class="layout-topbar-action"
            (click)="menu.toggle($event)"
        >
            <i class="pi pi-user"></i>
            <span class="ml-2 hidden lg:inline">{{ userName }}</span>
        </button>

        <button
            class="layout-topbar-menu-button layout-topbar-action"
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-scalein"
            leaveToClass="hidden"
            leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true"
        >
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-calendar"></i>
                    <span>Calendar</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-inbox"></i>
                    <span>Messages</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
            </div>
        </div>
    </div>
</div>
