<app-floating-configurator />

<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[80vw] overflow-hidden"
>
    <p-toast />
    <div class="flex flex-col items-center justify-center">
        <div class="login-container">
            <div
                class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 rounded-[53px]"
            >
                <div class="text-center mb-8">
                    <img
                        src="assets/images/bsc-logo-2.png"
                        alt="logo"
                        class="w-48 h-auto mx-auto mb-6"
                    />
                    <div
                        class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4"
                    >
                        Bienvenido a Sys BSC
                    </div>
                    <span class="text-muted-color font-medium"
                        >Ingresa tus credenciales para iniciar sesión</span
                    >
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <label
                        for="email1"
                        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                        >Correo</label
                    >
                    <input
                        pInputText
                        id="email1"
                        type="text"
                        placeholder="Correo electrónico"
                        class="w-full md:w-[30rem] mb-2 border border-gray-300 rounded-md px-4 py-2 shadow-sm"
                        formControlName="correo"
                        [ngClass]="{
                            'border-red-500':
                                loginForm.get('correo')?.touched &&
                                loginForm.get('correo')?.invalid
                        }"
                        autocomplete="off"
                        maxlength="100"
                        aria-describedby="email1-help"
                    />
                    <div
                        *ngIf="
                            loginForm.get('correo')?.touched &&
                            loginForm.get('correo')?.invalid
                        "
                        class="text-red-500 text-sm mb-4"
                    >
                        <span
                            *ngIf="
                                loginForm.get('correo')?.errors?.['required']
                            "
                        >
                            El correo es requerido.
                        </span>
                        <span
                            *ngIf="loginForm.get('correo')?.errors?.['email']"
                        >
                            Ingresa un correo válido.
                        </span>
                    </div>

                    <label
                        for="password1"
                        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
                        >Contraseña</label
                    >
                    <p-password
                        id="password1"
                        formControlName="contrasena"
                        placeholder="Contraseña"
                        [toggleMask]="true"
                        styleClass="mb-2"
                        [fluid]="true"
                        [feedback]="false"
                        [maxlength]="100"
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                loginForm.get('contrasena')?.touched &&
                                loginForm.get('contrasena')?.invalid
                        }"
                    ></p-password>
                    <div
                        *ngIf="
                            loginForm.get('contrasena')?.touched &&
                            loginForm.get('contrasena')?.invalid
                        "
                        class="text-red-500 text-sm mb-4"
                    >
                        <span
                            *ngIf="
                                loginForm.get('contrasena')?.errors?.[
                                    'required'
                                ]
                            "
                        >
                            La contraseña es requerida.
                        </span>
                        <ul
                            *ngIf="
                                loginForm.get('contrasena')?.errors?.[
                                    'invalidPassword'
                                ]
                            "
                            class="list-disc pl-5"
                        >
                            <li *ngFor="let error of passwordErrors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>

                    <p-button
                        label="Iniciar sesión"
                        type="submit"
                        styleClass="w-full bg-primary text-white font-semibold py-2"
                    ></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
