<p-toast></p-toast>
<div
    [formGroup]="form"
    class="p-4 space-y-4 min-w-[320px] sm:min-w-[450px] md:min-w-[600px]"
>
    <h3 class="text-lg font-semibold">Nuevo Pedido</h3>

    <div class="field">
        <label>Cliente</label>
        <input pInputText formControlName="cliente" />
    </div>

    <div class="field">
        <label>Fecha del Pedido</label>
        <p-datepicker
            formControlName="fechaPedido"
            [iconDisplay]="'input'"
            [showIcon]="true"
        />
    </div>

    <div class="field">
        <bsc-field-select-autocomplete
            url="productos/select"
            formControlName="productoSeleccionado"
            label="Producto"
        />
    </div>

    <div class="field flex gap-2 items-end">
        <div class="flex-1 flex flex-col">
            <label>Cantidad</label>
            <p-inputNumber formControlName="cantidad" [min]="1" />
        </div>
        <p-button
            label="Agregar"
            icon="pi pi-plus"
            (onClick)="agregarProducto()"
        />
    </div>

    <div class="mt-4">
        <h4 class="text-sm font-semibold">Productos agregados</h4>
        <ul class="text-sm space-y-1">
            <li
                *ngFor="let p of carrito(); index as i"
                class="flex justify-between items-center"
            >
                Producto ID: {{ p.productoId }} — Cantidad: {{ p.cantidad }}
                <button
                    pButton
                    icon="pi pi-times"
                    (click)="quitarProducto(p.productoId)"
                    class="p-button-sm p-button-text text-red-600"
                ></button>
            </li>
        </ul>
    </div>

    <div class="flex justify-end gap-2 pt-4">
        <p-button
            label="Cancelar"
            icon="pi pi-times"
            (onClick)="cerrar()"
            text
        />
        <p-button label="Guardar" icon="pi pi-check" (onClick)="guardar()" />
    </div>
</div>
